:root {
  --header-height: 3.5rem;

  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-bold: 700;

  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);

}

ul {
  list-style: none;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.main{
    overflow: hidden;
}

.section{
    padding: 6.5rem 0 1rem;
}

.section__title{
   position: relative;
   font-size: var(--h3-font-size);
   margin-bottom: var(--mb-3);
   text-align: center;
}