:root {
  --header-height: 3.5rem;

  --first-color: hsl(31, 100%, 70%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-bold: 700;

  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);

}

ul {
  list-style: none;
}

a{
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.main{
    overflow: hidden;
}

.section{
    padding: 6.5rem 0 1rem;
}

.section__title{
   position: relative;
   font-size: var(--h3-font-size);
   margin-bottom: var(--mb-3);
   text-align: center;
}

.header{
   width: 100%;
   background: transparent;
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_toggle, .nav_shop, .nav_close{
    color: var(--title-color);
}

.nav_logo{
   text-transform: uppercase;
   font-weight: var(--font-bold);
   align-items: center;
}

.nav_logo-icon{
    font-size: 1.25rem;
}

.nav_btns{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_toggle, .nav_shop{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_close{
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}