:root {
    --header-height: 3.5rem;

    --first-color: hsl(31, 100%, 70%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);

    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-bold: 700;

    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    max-width: 1024px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.main {
    overflow: hidden;
}

.section {
    padding: 6.5rem 0 1rem;
}

.section__title {
    position: relative;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle,
.nav_shop,
.nav_close {
    color: var(--title-color);
}

.nav_logo {
    text-transform: uppercase;
    font-weight: var(--font-bold);
    align-items: center;
}

.nav_logo-icon {
    font-size: 1.25rem;
}

.nav_btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_toggle,
.nav_shop {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_close {
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}

.home_container {
    position: relative;
}

.home_img {
    width: 240px;
}

.home_img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 430px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home_social {
    position: absolute;
    top: 35%;
    left: -5rem;
    display: flex;
}

.home_social-link {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.home_social-link:hover {
    color: var(--title-color);
}

.home_title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}

.home_description {
    margin-bottom: var(--mb-1-5);
}

.home_price {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.button {
    background-color: var(--button-color);
    color: #fff;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--button-color-alt);
}

.button--gray {
    background-color: hsl(0, 0%, 63%);
    color: var(--title-color);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

.button--small {
    padding: 1rem 1.5rem;
}

.home_button {
    box-shadow: 0 12px 24px hsl(0, 0%, 10%, .2);
}

.home_btns {
    display: flex;
    align-items: center;
}

.section_title {
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: var(--first-color);
}

.featured_card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding-top: 2rem;
    border: 1px solid var(--border-color);
}

.featured_tag {
    background-color: var(--first-color);
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    position: absolute;
    left: -1rem;
    top: 3rem;
}

.featured_img {
    height: 214px;
    margin-bottom: var(--mb-1);
}

.featured_title,
.featured_price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.featured_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-75);
}

.featured_price {
    color: var(--first-color);
}

.featured_button {
    font-size: var(--small-font-size);
}

.featured_card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
}

.button {
    background-color: var(--button-color);
    color: #fff;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--button-color-alt);
}

.button--gray {
    background-color: hsl(0, 0%, 63%);
    color: var(--title-color);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

.button--small {
    padding: 1rem 1.5rem;
}

.home_button {
    box-shadow: 0 12px 24px hsl(0, 0%, 10%, .2);
}

.home_btns {
    display: flex;
    align-items: center;
}

.section_title {
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: var(--first-color);
}

.featured_card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding-top: 2rem;
    border: 1px solid var(--border-color);
}

.featured_tag {
    background-color: var(--first-color);
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    position: absolute;
    left: -1rem;
    top: 3rem;
}

.featured_img {
    height: 214px;
    margin-bottom: var(--mb-1);
}

.featured_title,
.featured_price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.featured_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-75);
}

.featured_price {
    color: var(--first-color);
}

.featured_button {
    font-size: var(--small-font-size);
}

.featured_card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
}

.featured_card:hover,
.featured_price {
    margin-bottom: var(--mb-1-5);
}

.story_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
}

.story_description {
    margin-bottom: var(--mb-2-5);
}

.story_images {
    position: relative;
}

.story_img,
.story_square {
    width: 250px;
}

.story_square {
    height: 250px;
    background-color: var(--first-color);
}

.story_img {
    position: absolute;
    left: 3rem;
    top: -3rem;
}

.products_container {
    gap: 2rem;
}

.products_card {
    position: relative;
    background-color: var(--container-color);
    padding: 1.25rem 0;
    border: 1px solid var(--border-color);
    text-align: center;
}

.products_img {
    height: 125px;
    margin-bottom: var(--mb-1);
}

.products_title,
.products_price {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.products_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-5);
}

.products_price {
    color: var(--first-color);
}

.products_button {
    background-color: var(--button-color);
    padding: .4rem;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.products_button:hover {
    background-color: var(--button-color-alt);
}

.products_card:hover {
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}

.testimonial_container {
  row-gap: 4rem;
}

.testimonial_quote {
  background-color: var(--container-color);
  padding: .5rem .75rem;
  font-size: 1.5rem;
  color: var(--first-color);
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  margin-bottom: var(--mb-2);
}

.testimonial_description {
  margin-bottom: var(--mb-1);
}

.testimonial_date {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.testimonial_perfil {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 7rem;
}

.testimonial_perfil-img {
  width: 60px;
  height: 60px;
  border-radius: 3rem;
}

.testimonial_perfil-data {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.testimonial_perfil-name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.testimonial_perfil-detail {
  font-size: var(--small-font-size);
}

.testimonial_images {
  position: relative;
}

.testimonial_img, 
.testimonial_square {
  width: 250px;
}

.testimonial_square {
  height: 250px;
  background-color: var(--first-color);
  margin-left: auto;
}

.testimonial_img {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.new_card {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  padding-top: 2rem;
  border: 1px solid var(--border-color);
}

.new_tag {
  background-color: var(--first-color);
  padding: .5rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.new_img {
  height: 215px;
  margin-bottom: var(--mb-1);
}

.new_title, 
.new_price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.new_title {
  text-transform: uppercase;
  margin-bottom: var(--mb-0-75);
}

.new_price {
  display: block;
  color: var(--first-color);
}

.new_button {
  font-size: var(--small-font-size);
}

.new_card:hover {
  background-color: var(--first-color);
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
  padding: 2rem 0 3rem 0;
}

.new_card:hover .new_tag {
  background-color: var(--button-color);
}

.new_card:hover .new_title {
  color: hsl(0, 0%, 15%);
}

.new_card:hover .new_price {
  color: hsl(0, 0%, 15%);
  margin-bottom: var(--mb-1-5);
}

.newsletter_bg {
  background-color: var(--first-color);
  padding: 3rem 1.5rem;
  text-align: center;
}

.newsletter_title {
  font-size: var(--h1-font-size);
  color: hsl(0, 0%, 15%);
  margin-bottom: var(--mb-1-5);
}

.newsletter_description {
  color: hsl(0, 0%, 35%);
}

.newsletter_subscribe {
  display: flex;
  flex-direction: column;
}

.newsletter_input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 94%);
  padding: 1.25rem 1rem;
  color: hsl(0, 0%, 15%);
}

.footer_container {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 3rem;
}

.footer_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
}

.footer_list, 
.footer_links {
  display: flex;
  flex-direction: column;
}

.footer_link {
  color: var(--text-color);
}

.footer_link:hover {
  color: var(--title-color);
}

.footer_social {
  display: flex;
  column-gap: 1rem;
}

.footer_social-link {
  font-size: 1.25rem;
  color: var(--text-color);
}

.footer_social-link:hover {
  color: var(--title-color);
}

.footer_copy {
  margin: 3.5rem 0 1rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}